<div class="popup new-client-popup">

    <button type="button" class="close-popup-bt"><img src="../static/img/x.png"></button>
    <h2 class="popup-msg">Registrar nova consulta</h2>

    <p class="popup-side-msg"></p>
    <form class="popup-form" method="post" action="{{ url_for('system.system_add_client') }}">

        <div class="input-container name-container">
            <label for="add-name">Nome</label>
            <input type="text" id="add-name" name="name">
        </div>

        <div class="input-container">

            <div class="inner-input-container">
                <label for="add-rg">RG</label>
                <input type="text" id="add-rg" name="rg">
            </div>

            <div class="inner-input-container">
                <label for="add-cpf">CPF</label>
                <input type="text" id="add-cpf" name="cpf">
            </div>
        </div>

        <div class="input-container">

            <div class="inner-input-container">
                <label for="add-phone-number">Telefone</label>
                <input type="text" id="add-phone-number" name="phone-number">
            </div>

            <div class="inner-input-container">
                <label for="add-birth-date">Data de Nascimento</label>
                <input type="text" id="add-birth-date" name="birth-date">
            </div>
        </div>

        <button class="primary-button confirm-bt" type="button">OK</button>

    </form>
</div>