{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block head_links %}
    <link href="{{ url_for('static', filename='css/admin.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <button type="button" class="admin-bt">Área do sistema</button>

    <div class="overlay"></div>
    {% include 'admin/edit_popup.html' %}
    {% include 'admin/users_board.html' %}
    {% include 'admin/new_user_popup.html' %}
    {% include 'admin/report_box.html' %}
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/admin/admin_main.js') }}"></script>
{% endblock %}