<div class="new-user-popup">
    <p class="side-msg"></p>
    <form class="popup__form" method="post" action="{{ url_for('admin.admin_new') }}">

        <div class="popup__input-container">
            <label class="popup__boldtext">Usuário:</label>
            <input class="popup__username" name="username">
        </div>

        <div class="popup__input-container">
            <label class="popup__boldtext">Senha:</label>
            <input type="password" class="pass" name="pass1">

            <label class="popup__boldtext">Confirme sua senha:</label>
            <input type="password" class="pass" name="pass2">
        </div>

        <button type="button" class="new-user-popup__submit">Confirmar</button>
    </form>
</div>