<div class="report-box">
    <h2>Gerar Relatório</h2>
    <p class="report-box__side-msg"></p>

    <form method="POST" action="/admin/run_reports/">
        <div class="report-box__input-container">
            <label for="start-date">Data de Início</label>
            <input class="start-date" name="start-date" required>
        </div>

        <div class="report-box__input-container">
            <label for="final-date">Data de Fim</label>
            <input class="final-date" name="final-date" required>
        </div>

        <button class="generate-report-bt" type="button">Gerar</button>
    </form>
</div>