{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sistema{% endblock %}

{% block head_links %}
    <link href="{% static 'core/css/main/main.css' %}" rel='stylesheet'>
    <link href="{% static 'core/css/main/entrance_list.css' %}" rel='stylesheet'>
    <link href="{% static 'core/css/main/search_form.css' %}" rel='stylesheet'>
    <link href="{% static 'core/css/main/new_client_popup.css' %}" rel='stylesheet'>
{% endblock %}

{% block content %}

    {% if user.is_staff %}
        <button type="button" class="admin-bt">Área do admin</button>
    {% endif %}

    <main class="blank-container">

        <div class="overlay"></div>
        {% include 'core/main/new_client_popup.html' %}

        <div class="central-container">
            {% include 'core/main/search_form.html' %}
            {% include 'core/main/entrance_list.html' %}
        </div>
    </main>

{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'core/js/search_form.js' %}"></script>
    <script type="module" src="{% static 'core/js/new_client_popup.js' %}"></script>
    <script type="module" src="{% static 'core/js/entrance_list.js' %}"></script>
    <script type="module" src="{% static 'core/js/main.js' %}"></script>
{% endblock %}