.search-client-form {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    overlay: 1;
}

.search-client-form .input-container {
    display: flex;
    gap: 2px;
}

.search-client-form .input-container:nth-of-type(1) {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.search-client-form .input-container:nth-of-type(2) {
    position: relative;
}

.search-bar-label {
    font-size: 14px;
}

.search-bar {
    height: 25px;
    padding: 0 5px;
    outline: none;
    width: 100%;
}

.search-bar:focus {
    border: 2px solid #666;
}

.search-client-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin-left: 1px;
    margin-top: auto;
}

.reload-bt {
    position: absolute;
    background: none;
    right: 55px;
    bottom: 0;
}

.search-client-bt, .activate-popup-bt {
    background: #333;
}

.search-client-inner {
    display: flex;
    justify-content: space-between;
}

.search-client-form-error-msg {
    font-size: 12px;
    font-weight: bold;
}