* .background {
    background-image:
        linear-gradient(
            rgba(24, 50, 138, 0.85),
            rgba(0, 0, 0, 0.85)
        ),
        url('../img/Setor_Central.jpg');

    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.blank-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.logo-container {
    text-align: center;
    margin-top: 0;
}

.logo-container img {
    width: 55px;
    height: 55px;
}

.welcome-msg {
    font-size: 20px;
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-container:first-of-type {
    margin-top: 30px;
}

.input-container label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: box-shadow 0.3s;
}

.input-container input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
    border-color: #3b82f6;
}

.submit-bt {
    display: block;
    width: 100%;
    padding: 5px;
    height: 40px;
    background-color: #3b82f6;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-bt:hover {
    background-color: #2563eb;
}

.invalid-credentials {
    display: none;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

.login-first {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}

.no-acess-msg {
    font-size: 12px;
    text-align: center;
    margin-top: 18px;
    color: rgb(50, 65, 131);
    font-weight: bold;
}