.login-first {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    margin-top: 5px;
}

.no-acess-msg {
    font-size: 12px;
    text-align: center;
    margin-top: 18px;
    color: rgb(50, 65, 131);
    font-weight: bold;
}