{% extends 'auth/auth_base.html' %}

{% block title %}Sign Up{% endblock %}

{% block head_links %}
    <link href="{{ url_for('static', filename='css/auth_base.css') }}" rel="stylesheet">
{% endblock %}

{% block welcome_msg%}Crie seu primeiro usuário!{% endblock %}

{% block form %}
    <form id="signup-form" method="post" action="/signup/">

        <p class="invalid-credentials"></p>

        <div class="input-container">
            <label for="username">Usuário:</label>
            <input id="username" name="username" type="text">
        </div>

        <div class="input-container">
            <label for="first-password">Senha:</label>
            <input id="first-password" name="first-password" type="password">
        </div>

        <div class="input-container">
            <label for="second-password">Confirme sua senha:</label>
            <input id="second-password" name="second-password" type="password">
        </div>

        <button class="submit-bt" type="button">Cadastrar-se</button>

    </form>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/auth/auth_main.js')}}"></script>
{% endblock %}