<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <link href="../../static/signin.css" rel="stylesheet">
</head>
<body>
    <main class="blank-container">
        <form method="post">

            <div class="input-container">
                <label for="email">Usuário:</label>
                <input id="email" name="email" type="text">
            </div>

            <div class="input-container">
                <label for="password">Senha:</label>
                <input id="password" name="password" type="password">
            </div>

            <button class="submit-bt" type="submit">Entrar</button>
            <p class="no-acess-msg">Não possui acesso?<br>Solicite ao administrador do sistema.</p>

        </form>
    </main>
</body>
</html>