<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <link href="../static/css/signin.css" rel="stylesheet">
</head>
<body>
    <main class="blank-container">

        <h2 class="welcome-msg">Login</h2>

        <form method="post">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="login-first">{{messages[0]}}</p>
                {% endif %}
            {% endwith %}
            
            <p class="wrong-credentials">Credenciais inválidas!</p>

            <div class="input-container">
                <label for="username">Usuário:</label>
                <input id="username" name="username" type="text">
            </div>

            <div class="input-container">
                <label for="password">Senha:</label>
                <input id="password" name="password" type="password">
            </div>

            <button class="submit-bt" type="button">Entrar</button>
            <p class="no-acess-msg">Não possui acesso?<br>Solicite ao administrador do sistema.</p>

        </form>
    </main>

    <script type="module" src="../static/js/signin/signin_main.js"></script>
</body>
</html>