{% extends 'auth_base.html' %}

{% block title %}Sign In{% endblock %}

{% block head_links %}
<link href="../static/css/signin.css" rel="stylesheet">
<link href="../static/css/auth_base.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="../static/img/logo.ico">
{% endblock %}

{% block welcome_msg %}Faça seu login!{% endblock %}

{% block form %}
<form method="post">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="login-first">{{messages[0]}}</p>
        {% endif %}
    {% endwith %}

    <p class="invalid-credentials"></p>

    <div class="input-container">
        <label for="username">Usuário:</label>
        <input id="username" name="username" type="text">
    </div>

    <div class="input-container">
        <label for="password">Senha:</label>
        <input id="password" name="password" type="password">
    </div>

    <button class="submit-bt" type="button">Entrar</button>
    <p class="no-acess-msg">Não possui acesso?<br>Solicite ao administrador do sistema.</p>

</form>
{% endblock %}

{% block scripts %}
<script type="module" src="../static/js/signin/signin_main.js"></script>
{% endblock %}