{% extends 'core/base.html' %}
{% load static %}

{% block title %}Acesso Temporariamente Bloqueado{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <style>
        .lockout-msg { text-align: center; color: #d32f2f; margin-top: 20px; }
        .timer-msg { text-align: center; color: #555; margin-top: 15px; font-size: 1rem; }

        .countdown {
            font-weight: bold;
            font-size: 1.2rem;
            color: #333;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="blank-container">
        <div class="logo-container">
            <img class="logo" src="{% static 'core/img/logo-gdf-redondo.png' %}" alt="Logo">
        </div>

        <h2 class="welcome-msg" style="color: #d32f2f;">Acesso Suspenso</h2>

        <div class="lockout-msg">
            <p>Muitas tentativas de senha incorretas.</p>
            <p>Por segurança, sua conta foi temporariamente bloqueada.</p>
        </div>

        <div class="timer-msg" class="timer-container">
            <p>Aguarde <span class="countdown">60</span> segundos para tentar novamente.</p>
        </div>
    </main>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {

        let timeLeft = 60 // Seconds
        const countdownEl = document.querySelector('.countdown');
        const timerContainer = document.querySelector('.timer-container');

        const timerInterval = setInterval(() => {
            timeLeft--;
            countdownEl.textContent = timeLeft;

            if (timeLeft <= 0) {
                clearInterval(timerInterval);
                window.location.replace("{% url 'core:login' %}");
            }

        }, 1000);

    });
</script>
{% endblock %}