{% extends 'core/auth/auth_base.html' %}
{% load static %} {% block title %}Sign In{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/auth_base.css' %}">
{% endblock %}

{% block welcome_msg %}Faça seu login!{% endblock %}

{% block form %}
    <form id="signin-form" method="post" action="">
        {% csrf_token %}
        {% if request.GET.next %}
            <p class="login-first">Por favor, faça login para acessar essa página.</p>
        {% endif %}

        {% if form.errors %}
            <p class="invalid-credentials" style="display: block; color: red;">
                Usuário ou senha incorretos.
            </p>
        {% else %}
            <p class="invalid-credentials"></p>
        {% endif %}

        <div class="input-container">
            <label for="username">Usuário:</label>
            <input id="username" name="username" type="text" required>
        </div>

        <div class="input-container">
            <label for="password">Senha:</label>
            <input id="password" name="password" type="password" required>
        </div>

        <button class="submit-bt" type="submit">Entrar</button>

        <p class="no-acess-msg">Não possui acesso?<br>Solicite ao administrador do sistema.</p>

        <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}

{% block scripts %}
{% endblock %}